@charset "utf-8";
/* CSS Document */

html, body {
    height: 100% !important;
	border: 0 hidden !important;
	overflow-y:hidden;
    min-width: 600px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
    color:black;
    overflow-y:scroll !important;
}

.container {
    display: table;
    width: 100%;
    height: 100%;
}


div.imgwrapper{
    display:table-row;
    height:0;
}

div.imgwrapper img {
    display:table-cell;
    width:100%;
}

#wrapper {
	display:table-cell;
	background-color: #FFF;
    width: 10%;
	height:100%;
    padding-left: 10%;
    padding-right: 10%;

}

p {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 2px;
    margin: 0 0 15px;
    line-height: 120%;

}



table {
    width: 80%;
    margin: 2% 10% 10%;

}

table, tr, td, th {
    padding: 4px;
    vertical-align: middle;
}

th {
    font-size: 20px;
    font-weight: 300;
}

input[type=submit], input[type=button] {
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    width: 206px;
    height: 41px;

}

input[type=text], input[type=password], textarea {
    background-color: #EEE;
    color: #000;
    padding: 3px;
    margin: 2px;
    border-radius: 2px;
    border: 2px;
    width: 300px;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #4CAF50;
    color: white;

}
input[type=submit]:disabled, input[type=button]:disabled {
    border-color: #C0C0C0;
    background-color: #C0C0C0;
    color: #FFF;

}

div.inputForm {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

fieldset {
    border: 0 hidden !important;
}
fieldset p{
    display: table-row;
    text-align: center;
}
fieldset label{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    float: left;
}

fieldset input,textarea{
    display: table-cell;
    float: right;
}

.submit {
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    width: 170px;
    height: 21px;

}

.submit:hover {
    background-color: #4CAF50;
    color: white;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    -moz-padding-start: 40px;
    -moz-margin-start: 1em;
    -moz-margin-end: 1em;
    -moz-margin-before: 1em;
    -moz-margin-after: 1em;
    -webkit-padding-start: 40px;
    -webkit-margin-start: 1em;
    -webkit-margin-end: 1em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}

ol {
    display: block;
    text-align: left;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    -moz-padding-start: 40px;
    -moz-margin-start: 1em;
    -moz-margin-end: 1em;
    -moz-margin-before: 1em;
    -moz-margin-after: 1em;
    -webkit-padding-start: 40px;
    -webkit-margin-start: 1em;
    -webkit-margin-end: 1em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}

li {
    display: list-item;
    text-align: match-parent;
    padding-left: 1em;
}

b, strong {
    font-weight: bolder;
}

i, cite, em, var, dfn {
    font-style: italic;
}

tt, code, kbd, samp {
    font-family: -moz-fixed, serif;
}

u, ins {
    text-decoration: underline;
}

s, strike, del {
    text-decoration: line-through;
}

big {
    font-size: larger;
}

small {
    font-size: smaller;
}

h1 {
    font-size: 3em;
    font-family: 'Bitter', serif;
	border: 0 hidden !important;
}

h2 {
    font-size: 1.5em;
    font-family: 'Bitter', serif;
    border: 0 hidden !important;
    text-align: center;
    padding: 5px;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    color: #00E5EE; !important;
}

a:link {
    text-decoration: none;
    color: #00E5EE;
}

a:visited {
    text-decoration: none;
    color: #00E5EE;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

nav {
	padding-top:5px;
	margin-bottom:5px;
	display: table;
    text-align:center;
	width:100%;
	font-size:1.35em;
}

nav p{
	display:table-row;	
}

nav a{
	display:table-cell;
	font-family: 'Bitter', serif;
	width:33%;
	text-align:center;
	
}

nav a:hover{
	color: #F17D15 !important;
}

div.post {
    text-align: justify;
    display: table-cell;
}

div.post p{
    float: left;
}

div.post img{
    float: right;
    padding: 5px;
}

div.gallery {
    display: table;
}

div.galleryRow {
    display: table-row;
}

div.galleryItem{
    display: table-cell;
    text-align: justify;
    margin: 10px;
    padding: 3%;
}

div.galleryItem img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}