@charset "utf-8";
/* CSS Document */

html, body {
    height: 100% ;
	border: 0 hidden;
	overflow-y:hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
    color:black;
    overflow-y:scroll;
}

/* 
    Credit for Grid Holy grail goes to https://bitsofco.de/holy-grail-layout-css-grid/

    I initially made one myself, got 90% done, but had a bug that was unfixable.
    Basically, if the content wasn't larger than the screen, the grid would dissapear.

*/

.hg__header { grid-area: header; background-color: black; }
.hg__footer { 
    position: relative;
    grid-area: footer;
    background-color: #333;
    color: #FFF;
    text-align: center;
    z-index: 1;
} /*
.hg__footer:before{
    display:block;
    position: absolute;
    bottom: 0;
    left:0;
    width: 200px;
    height: 30px;
    content:"";
    background-color: #333;
}*/

.hg__main { 
    grid-area: main; 
    background-color: #FFF;
    padding-left: 5%;
    padding-right:5%;
}
.hg__left {
    grid-area: navigation;
    background-color: #333;
    color: #FFF;
    padding-left:5%;}
.hg__right { grid-area: ads;  background-color: #FFF;}

.hg {
	display: grid;
	grid-template-areas: "header header header"
	                     "navigation main ads"
	                     "navigation footer ads";
	grid-template-columns: 200px 1fr 150px;
	grid-template-rows: 100px 
						1fr
						auto;
	min-height: 100vh;
}

@media screen and (max-width: 600px) {
	.hg {
		grid-template-areas: "header"
		                     "navigation"
		                     "main"
		                     "ads"
		                     "footer";
		grid-template-columns: 100%;
		grid-template-rows: 100px 
							50px 
							1fr
							50px 
                            30px;
    }

    .hg__footer:before{
        display:none;
    }

    nav{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 100%;
        text-align: center;
        
    }
    nav p{
        position: relative;
        top: 50%;
        transform: translateY(-50%)
    }
    .navHead{
        display: none;
    }
}

.navHead{
    padding-top:5%;
    font-size: 1.5em;
    font-family: 'Bitter', serif;
}


.headerimg {
    font-size: 0;
    width: 100%;
    height: 100px;;
}


.nav {
	text-align:center;
    font-size:1.35em;
    font-family: 'Bitter', serif;
    padding: 5px 0 5px 0;
}

.nav:hover{
    color: #F17D15;
    padding: 5px 0 5px 0;
}


#pageContent {
    margin: 10%;
    text-align: center;
    grid-column: 2/7;
    grid-row: 2/4;
    display: contents;

}

h1 {
    grid-row: 2/3;
    font-size: 3em;
    font-family: 'Bitter', serif;
    border: 0 hidden ;
}

#heading{
    grid-row: 2 / 3;
    grid-column: 2 / 7;
}


.post {
    grid-column: 2/7;
    grid-row: 3/4;
    text-align: justify;

}

.post p{
    float: left;
}

.post img{
    float: right;
    padding: 5px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 2px;
    margin: 0 0 15px;
    line-height: 120%;

}

div.gallery {
    grid-column: 2/7;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
}

div.galleryRow {
    grid-column: 1/4;
    display: contents;
}

div.galleryItem p{
    text-align: justify;
}

div.galleryItem img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.inputForm{
    height: 100%;
    grid-column: 2/7;
    grid-row: 3;
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: 1fr;
    vertical-align: top;
}

div.inputForm p{
    display: contents;
    grid-row: 1;
    grid-column: 1/4;
}

div.inputForm form{
    display: contents;
    grid-row: 2;
}

input[type=submit], input[type=button] {
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    width: 206px;
    height: 41px;
    margin: 0 auto 0 auto;

}

input[type=text], input[type=password], textarea {
    background-color: #EEE;
    color: #000;
    padding: 3px;
    margin: 2px;
    border-radius: 2px;
    border: 2px;
    width: 300px;
    margin: 0 auto 0 auto;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #4CAF50;
    color: white;

}
input[type=submit]:disabled, input[type=button]:disabled {
    border-color: #C0C0C0;
    background-color: #C0C0C0;
    color: #FFF;

}

fieldset {
    border: 0 hidden ;
}

.submit {
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    width: 170px;
    height: 21px;

}

.submit:hover {
    background-color: #4CAF50;
    color: white;
}

b, strong {
    font-weight: bolder;
}

i, cite, em, var, dfn {
    font-style: italic;
}

tt, code, kbd, samp {
    font-family: -moz-fixed, serif;
}

u, ins {
    text-decoration: underline;
}

s, strike, del {
    text-decoration: line-through;
}

big {
    font-size: larger;
}

small {
    font-size: smaller;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    color: #00E5EE; ;
}

a:link {
    text-decoration: none;
    color: #00E5EE;
}

a:visited {
    text-decoration: none;
    color: #00E5EE;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#footer{
    grid-row: 3;
    bottom: 0;
    background-color: #FFF;
    text-align: center;
}